# Ignore Mac/Windows system files
.DS_Store
Thumbs.db

# Ignore Python
backend/venv/
backend/__pycache__/
*.pyc

# Ignore Node (Mobile)
mobile/node_modules/
mobile/.expo/
mobile/dist/

# Ignore Environment Variables (Security)
.env
mobile/.env

# Ignore Uploads
backend/uploads/*
!backend/uploads/.gitkeep